# Contentful CMS
NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN=
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=
LAYOUT_ENTRY_ID=

# Notion
NOTION_TOKEN=
NOTION_MEMBERS_DATABASE_ID=
NOTION_PROJECTS_DATABASE_ID=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://faihybqsyysfkmlgvgvp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhaWh5YnFzeXlzZmttbGd2Z3ZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MTkyNDgsImV4cCI6MjA4OTA5NTI0OH0._NzI5sqgY2LIcc0mXUpOtb-QHmp0tPXGyeH3QwcRRPQ
